
.btn{
    text-decoration: none;
    background-color: #ecf0f1;
    color: #7f8c8d;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}

.btn-red {
    background-color: #e74c3c;
    color: #ffffff;
}

.btn.btn-red:hover{
    background-color: #c0392b;
}

.btn.btn-blue {
    background-color: #3498db;
    color: #ffffff;
}

.btn-blue:hover{
    background-color: #2980b9;
}

.btn.btn-green {
    background-color: #1abc9c;
    color: #ffffff;
}

.btn-green:hover{
    background-color: #16a085;
}